////////////////////////////////////////////////////////////////////////////////
//
// resource file
//
////////////////////////////////////////////////////////////////////////////////


////////////////////////////////////////////////////////////////////////////////
//
// bitmaps
//
  WKS_LOGO_BMP_RC                                BITMAP          ".\WksLogo.bmp"


////////////////////////////////////////////////////////////////////////////////
//
// appicon
//
// icon file have to be 256 color dept or brcc32 will not compile
  AAA_APPLICATION_BIN_ICON_RC                    ICON            ".\WksIcon.ico"

